$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

.button {
    background: linear-gradient(135deg, $secondary-color, #e61fc0);
    padding: clamp(1.2rem, 2vw, 2rem) clamp(2.5rem, 3vw, 3rem);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: $tertiary-color;
    width: auto;
    font-family: $primary-font;
    font-size: clamp(2.5rem, 3vw, 3rem);
    font-weight: 600;
    //max-height: 3rem;
    border: 0px solid transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: clamp(2rem, 5vw, 5rem);

  
    &:hover {
      background: #3fb6ff;
      color: $primary-color;
      border-color: #e61fc0;
      box-shadow: 0 0 20px rgba(152, 133, 255, 0.6), 0 0 40px rgba(230, 31, 192, 0.5);
    }
  }

  
    @media (min-width: 4500px) {
    .button{
        font-size: clamp(4rem, 6vw, 6rem);
    }
    }
    @media (min-width: 901px) and (max-width: 1000px) {
    .button{
        font-size: clamp(3rem, 3vw, 4rem);
    }
    }
  @media (min-width: 801px) and (max-width: 900px) {
    .button{
        width: 90%;
        max-height: 10rem;
        display: flex;
        font-size: clamp(2rem, 3vw, 4rem);
    }    
} 

@media (min-width: 549px) and (max-width: 800px) {
    .button{
        width: 90%;
        max-height: 10rem;
        display: flex;
        font-size: clamp(2rem, 3vw, 5rem);
    }    
}  
  
@media (max-width: 548px) {
    .button{
        width: 90%;
        max-height: 4rem;
        display: flex;
        font-size: clamp(1.5rem, 3vw, 2.5rem);
    }    
}  

