/* variables.scss */

$primary-color: #e61fc0;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #14192d;
$text-color: #f6f3f1;

/* Themes colors */
$color-primary-dark: #1a88d6;
$color-secondary-dark: #9b268f;

$color-text: #222222;
$color-text-light: #444444;
$color-text-dark: #eee;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

$border-radius: 8px;
