// Variáveis
$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #f6f3f1;
$accent-color: #e61fc0;
$text-color: #3fb6ff;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// Container principal
.containerHero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: clamp(1rem, 3vw, 3rem);
  text-align: center;
  background-color: $primary-color; // fallback se vídeo falhar
  z-index: 0;
}

// Conteúdo central (textos + botão)
.heroContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 8vmin, 8rem);
  text-align: center;
}

// Vídeo de fundo
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

// Container dos textos
.headerTexts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

// Título principal
.title {
  color: $tertiary-color;
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-family: $secondary-font;
  font-weight: 800;
}

// Subtítulos
.subtitle {
  color: $tertiary-color;
  font-family: $primary-font;
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  font-weight: 300;
  padding: 0 1rem;
}

// Botão de marketing
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

// Wrapper para a seta fixa no rodapé da section
.scrollArrowWrapper {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

// Botão de rolagem com ícone
.scrollButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setaIcone {
  max-width: 64px;
  height: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(5px);
  }
}

// Responsivo
@media (max-width: 648px) {
  .containerHero {
    padding-top: 81px;
  }

  .title {
    font-size: clamp(2rem, 3vw, 3rem);
  }

  .subtitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
  }

  .setaIcone {
    max-width: 48px;
  }
}
// Telas ultra largas (4K/5K)
@media (min-width: 3000px) {
  .title {
    font-size: 13rem;
  }

  .subtitle {
    font-size: 8rem;
  }

  .heroContent {
    gap: 10rem;
  }

  .containerHero {
    padding: 6rem 4rem;
  }

  .buttonContainer{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #3fb6ff;
    //min-height: 500px;;
  }
}

// Telas muito altas (ex: celulares verticais grandes)
@media (max-width: 950px) and (min-height: 1500px) {
  .title {
    font-size: 6rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .heroContent {
    gap: 4rem;
  }

  .containerHero {
    padding: 5rem 2rem;
  }

  .buttonContainer{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #3fb6ff;
  }
}
