$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #e61fc0;
$text-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

.timeline {
  position: relative;
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 80px;
    bottom: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 82%;
    background-color: $primary-color;
    z-index: 0;
  }
}

.timelineItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 0;

  &:nth-child(odd) {
    flex-direction: row;

    .timelineContent,
    .timelineDate {
      align-items: flex-end;
      text-align: right;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .timelineContent,
    .timelineDate {
      align-items: flex-start;
      text-align: left;
    }
  }
}

.timelineDate {
  background-color: $tertiary-color;
  color: white;
  font-family: $primary-font;
  text-transform: uppercase; // deixa tudo em maiúsculo
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  white-space: nowrap;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

// Seta para a direita
.timelineItem:nth-child(odd) .timelineDate::after {
  left: 100%;
  border-left: 10px solid $accent-color;
}

// Seta para a esquerda
.timelineItem:nth-child(even) .timelineDate::after {
  right: 100%;
  border-right: 10px solid $accent-color;
}

.timelineItem:last-child .timelineDate {
  background-color: $accent-color; // cor diferente para a data
  color: white;
  border: 2px solid $tertiary-color;

  &::after {
    border-left: 10px solid $tertiary-color;
  }
}

.timelineItem:last-child .timelineContent {
  background-color: $accent-color; // ou outra cor que queira
  color: $text-color;
  border: 2px solid $tertiary-color;
}


.timelineSide {
  display: flex;
  flex-direction: column;
  width: auto;
  width: calc(50% - 45px);
}

.timelineContent {
  padding: 1.5rem;
  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  margin-top: 0.5rem;
  width: 100%;

  .title{
    font-family: $secondary-font;
    font-size: 1.5rem;
  }

  .description{
    font-family: $primary-font;
    font-size: 1rem;
  }
}

.timelineIcon {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 3px solid $accent-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  font-size: 30px;
}

@media (max-width: 798px) {
  .timeline {
    padding: 2rem 1rem;

    &::before {
      height: 90%;

    }
  }

  .timelineSide{
    width: 100%;
    margin-bottom: 1.2rem;
  }

  .timelineItem {
    flex-direction: column !important;
    align-items:center;
    margin: 0;

    &:nth-child(odd) {
      .timelineContent,
      .timelineDate {
        text-align: left;
      }
    }
  
    &:nth-child(even) {
      .timelineContent,
      .timelineDate {
        text-align: left;
      }
    }
  }

  .timelineDate {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 2px;

    &::after {
      display: none; // Esconde a setinha lateral
    }
  }

  .timelineContent {
    width: 100%; // ocupa o restante da largura
    margin-top: 0;
  }

  .timelineIcon {
    top: 0;
    left: 0;
    transform: translateY(0);
    margin-bottom: 1rem;
    margin-top: 3rem;
    position: relative;
  }
}
