$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #e61fc0;
$text-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

.containerProjects{
    min-height: calc(100vh - 90px);
    background-image: url('/background/background-projects.svg');
    background-size: cover;            // Faz a imagem preencher o container
    background-repeat: no-repeat;      // Impede que a imagem se repita
    background-position: center top;   // Alinha a imagem no topo e centraliza
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: clamp(1.5rem, 4vw, 4rem);
    justify-content: center;
}

.topContainer {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    //background-color: #c835d4;
  }
  
  .subtitle {
    color: $primary-color;
    font-family: $primary-font;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: clamp(0.7rem, 1vw, 1rem);
  }
  
  .titleWrapper {
    display: inline-flex; // garante que vai abraçar apenas o conteúdo
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  
  .title {
    color: $primary-color;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: clamp(1.5rem, 2vw, 2rem);
    width: fit-content;
  }
  
  .gradientBar {
    height: 8px;
    margin-top: 4px;
    border-radius: 4px;
    background: linear-gradient(90deg, #3fb6ff, #c835d4, #e61fc0);
    width: 100%; // agora respeita o tamanho exato da titleWrapper
  }

.centerCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}    


@media (max-width: 325px) {
  .topContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 

  .titleWrapper{
    align-items: center;
  }
}