$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #e61fc0;
$text-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

@mixin circle-button($bg-color) {
  background-color: $bg-color;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
    background-color: $secondary-color;
    color: $text-color;
  }
}

.footer {
  min-height: calc(100vh - 90px);
  background-image: url('/background/background-footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //background-color: bisque;
    gap: clamp(2rem, 8vw, 8rem);
  }

  &__bottom {
    font-size: 1rem;
    font-family: $primary-font;
    color: $text-color;
    text-align: center;
    font-weight: 200;

    @media (max-width: 648px) {
      font-weight: 400; // para melhor leitura no mobile
    }
    //background-color: brown;
  }

  &__scrollTop {
    background: none;
    border: none;
    cursor: pointer;
    color: $text-color;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  //background-color: #9885ff;
  margin-top: clamp(2rem, 8vw, 8rem);
}

.footer__half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  //background-color: #9885ff;

  @media (max-width: 648px) {
    justify-content: center;
    width: 100%;
  }
}

.titleIcons,
.titleScroll {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: $secondary-font;
  text-align: center;
  color: $text-color;
  //background-color: #e61fc0;
}

.iconCircleGroup {
  display: flex;
  gap: 1rem;
}

.iconCircle {
  @include circle-button($accent-color);

  a {
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
  }

  &:hover a {
    color: $text-color;
  }
}

.scrollCircle {
  @include circle-button($tertiary-color);
}

.contacts {
  //background-color: #3fb6ff;
  text-align: center;
  color: $text-color;
  font-size: 1rem;
  font-family: $primary-font;
  font-weight: 400;

  p + p {
    margin-top: 1rem; // espaço entre parágrafos
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  width: clamp(10rem, 13vw, 13rem);
  height: auto;
  padding-top: 2rem;
}


@media (max-width: 648px) {
  .footer__top {
    flex-direction: column;
    gap: 2rem;
  }
}
