$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #e61fc0;
$text-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.downloadButton {
  display: inline-flex;
  align-items: center;
  background-color: $secondary-color;
  color: white;
  padding: 30px 80px 30px 100px; // mais alto e largo
  border-radius: 0 50px 0 50px;
  font-size: clamp(1rem, 1.5vw, 1.5rem); // aumenta o texto
  font-weight: bold;
  font-family: $secondary-font;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  gap: 1.25rem;
  position: relative;
  text-align: center;

  &:hover {
    background-color: $tertiary-color;

    .iconWrapper {
      box-shadow: 0 0 0 2px $tertiary-color;
    }
  }  
}

.iconWrapper {
  position: absolute;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px $secondary-color;

  .icon {
    color: $accent-color;
    font-size: 2rem;
    animation: float 3s ease-in-out infinite;
    transition: color 0.3s ease;
  }
}

.text {
  color: white;
  z-index: 1;
}

@media (max-width: 340px) {
  .downloadButton {
  padding: 25px 80px 25px 100px; // mais alto e largo
}

.iconWrapper {
  left: -15px;
  width: 90px;
  height: 90px;
}
}