$primary-color: #14192d;
$secondary-color: #9885ff;
$tertiary-color: #3fb6ff;
$accent-color: #e61fc0;
$text-color: #f6f3f1;

$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

#carreira {
  scroll-margin-top: 90px;
}

.containerAboutJourney {
  min-height: calc(100vh - 90px);
  background-image: url('/background/background-about-journey.svg');
  background-size: cover;          // Faz a imagem preencher o container
  background-repeat: no-repeat;    // Impede que a imagem se repita
  background-position: center top; // Alinha a imagem no topo e centraliza
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, 6vw, 6rem);
  justify-content: center;
  scroll-margin-top: 90px;
}

.subtitle {
  color: $primary-color;
  font-family: $primary-font;
  text-transform: uppercase; // deixa tudo em maiúsculo
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-size: clamp(1.3rem, 2vw, 2rem);
}

.title {
  color: $accent-color;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 5rem);
}

.centerContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(1.5rem, 2vw, 2rem);
  padding: 1rem 0;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(0.5rem, 1vw, 1rem);
}

.imageContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  border-radius: 0.5rem;  // pode dar um arredondado sutil, fica bonito
  padding: 0.5rem;        // espaçamento interno para destacar a imagem
}
.imageWrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile {
  border-radius: 1%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
  display: block;
}


.text {
  color: $primary-color;
  font-family: $primary-font;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-top: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 915px) {
  .containerAboutJourney{
      padding: clamp(1rem, 3vw, 3rem);
  }
  .centerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .textContainer,
  .imageContainer {
    width: 90%;
  }

  .text{
    text-align: center;
  }
}


